.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
  
.modal-content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 450px;
  height: 350px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
  
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.result-element{
  color: #63b5f0;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  height: 30px;
  border: 2px solid #63b5f0;
}

.close-button-element {
  background: transparent;
  border: none;
  color: #63b5f0;
  font-size: 16px;
  cursor: pointer;
  padding: 4px;
  transition: color 0.3s ease;
}


  