.general-button{
    width: 80px;
    height: 50px;
    background-color: #60a5fa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 10px;
}

.general-button:hover {
    background-color: #3b82f6;
}

.general-button:active{
    background-color: #306ed2;
}

.general-button:disabled{
    background-color: #9bc6fa;
    cursor: not-allowed;
    opacity: 0.6;
}

.general-button-small{
    width: 40px;
    height: 25px;
    background-color: #60a5fa;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 10px;
}

.general-button-small:hover {
    background-color: #3b82f6;
}

.general-button-small:active{
    background-color: #306ed2;
}

.general-button-small:disabled{
    background-color: #9bc6fa;
    cursor: not-allowed;
    opacity: 0.6;
}

.general-button-delete{
    width: 80px;
    height: 50px;
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 10px;
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.general-input {
    width: 100%;
    max-width: 200px;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.general-dropdown {
    width: 30%;
    max-width: 100px;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.general-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
}
  
.general-input::placeholder {
    color: #aaa;
    font-style: italic;
}

.general-input-small {
    width: 60%;
    max-width: 50px;
    margin-top: 10px;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .general-input-small:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
  }
  
  .general-input-small::placeholder {
    color: #aaa;
    font-style: italic;
  }

  .select-comtainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  